/* Styles globaux de notre page arrière */
* {
  background-color: white;
  text-align: center;
}

body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
}

/* Styles de l'en-tête */
header {
  background: gray;
}

h1,
p {
  background: gray;
}

/* Styles de la balise main */
main {
  margin: 20px auto;
  background-color: gray;
}

/* Styles du conteneur d'image */
.image-container {
  margin: 0;
  background: white;
}

figure img {
  max-width: 900px;
}

figcaption {
  font-size: 0.9em;
  padding: 10px;
}

/* Styles de la section (chronologie) */
section {
  background-color: gray;
}

h2 {
  font-size: 1.3em;
  background-color: gray;
  margin: 50px;
}

/* Styles de la liste non ordonnée */
.annee {
  max-width: 500px;
  margin: auto;
  background-color: gray;
  line-height: 1.5rem;
}

ul li {
  text-align: left;
  background-color: gray;
}

li strong {
  background-color: gray;
}

/* Styles du blockquote (citation) */
.slog {
  text-align: left;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: gray;
  font-style: italic;
}

/* Styles du paragraphe */
p {
  margin-right: 14rem;
  background-color: gray;
  margin-bottom: 20px;
}

p em {
  font-style: italic;
  background-color: gray;
}

/* Styles du pied de page */
footer {
  background-color: gray;
  font-weight: bold;
}

footer p {
  text-align: center;
  margin: auto;
}

footer a {
  color: rgba(205, 115, 228, 0.584);
  text-decoration: none;
  background-color: gray;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
